.AuthModal {
  padding: 1.5rem 2rem;
}

.AuthModal form {
  margin-top: 12px;
}

.AuthModal input:focus {
  outline: none;
  border: 1px solid #008489;
}

.Form-Button {
  width: 100%;
  background-color: #fff;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  padding: 0.75rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  color: #333;
}

.Birth-Date {
  display: flex;
  justify-content: space-between;
}

.Form-Button span > div > div {
  display: inline-block;
  margin: 0 4px;
}

.AuthModal-Close {
  border-radius: 100%;
  padding: 4px 7px;
  font-size: 1.5rem;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); */
  margin-bottom: 0.8rem;
  cursor: pointer;
  color: #333;
}

.RegisterModal i {
  margin: 0;
}
