.Backdrop {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  top: 0;
  left: 0;
}

.Toggleable-Menu {
  border-radius: 2px;
  z-index: 999;
  display: none;
  position: absolute;
  margin: -2px 0 0 0;
  padding: 0 1.5rem;
  list-style-type: none;
  background: #fff;
  border: 1px solid #aaa;
  font-size: 0.75rem;
  right: 10rem;
  top: 100%;
}
