body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.75rem 0;
  margin-top: 0;
  color: #444;
}

.container {
  width: 96%;
  max-width: 1000px;
  display: inline-block;
  margin: 0 auto;
}

p,
small {
  color: #333;
  margin: 0.75rem 0;
  font-weight: 400;
}

small {
  font-weight: 400;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 1rem 0;
  border-top: 1px solid #bbb;
}

select {
  padding: 0.8rem 0.5rem;
  flex: 0 0 31%;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.bold-text {
  font-weight: 600;
}
.unallow-link:hover {
  cursor: not-allowed;
}

.hidden {
  display: none !important;
}

button.Button-Blue,
a.Button-Blue {
  background-color: #3b5998;
  color: white;
}

button:hover {
  cursor: pointer;
}

button.Button-White,
a.Button-White {
  background-color: #fff;
  border: 2px solid #777;
}

button.Button-Red,
a.Button-Red {
  background-color: rgb(255, 90, 95);
  color: white;
}

.GreenText {
  color: #008489;
}

button.GreenBackground {
  background-color: #008489;
  color: #fff;
}

.GrayText {
  color: gray;
}

.SemiboldText {
  font-weight: 500;
}

.text-centered {
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 0.85em;
}

.Form-Btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.message {
  display: block;
}

.btn-grey-outline {
  margin: 1rem;
  padding: 0.6rem 1.4rem;
  border: 2px solid #c1c1c1;
  border-radius: 6px;
  outline: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  color: #414141;
  cursor: pointer;
}
