.Host-Dropdown {
  display: inline-block;
  height: 100%;
  padding: 24px 8px;
  border-bottom: 2px solid transparent;
  position: relative;
}

.Host-Dropdown:hover {
  border-bottom: 2px solid #aaa;
  cursor: pointer;
}

.Dropdown-Input {
  display: none;
}

.Dropdown-Menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Host-Dropdown a:focus + .Dropdown-Menu {
  display: block;
}
