.Search {
  /* padding-left: 0.75rem; */
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-left: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 500px;
  max-width: 60vw;
  position: relative;
  height: 3em;
}

.Search i {
  color: #333;
}

.Search .Search-Bar {
  padding: 0.8em 1em;
  padding-left: 2.2em;
  border: none;
  font-size: 1em;
  font-weight: 700;
  margin-left: 0;
  background-color: #fff;
}

.Bar:focus,
.Bar:active {
  outline: none;
}

.Search-Submit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #c23b22;
  border: none;
  padding: 0 0.8em;
  color: white;
  border-radius: 3px;
  height: 75%;
  font-weight: 700;
  font-size: 0.85em;
}

.Search-Submit:hover {
  cursor: pointer;
}
