/* Large Footer */
.lg-ft {
  bottom: 0px;
  position: fixed;
  transform-origin: center bottom 0px;
  width: 100%;
  transform: scaleY(1);
  padding: 0px;
  transition: -ms-transform 0.2s ease-out, -webkit-transform 0.2s ease-out,
    transform 0.2s ease-out;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(219, 219, 219);
  background-color: white;
}

/* Footer toggle button */
.ft-tgg {
  position: fixed;
  z-index: 10;
  bottom: 13px;
  left: 13px;
  opacity: 1;
  transition: opacity 0.4s;
}

/* media queries  */
@media (max-width: 767px) {
  .ft-tgg {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-ft {
    display: none;
  }
}

@media (min-width: 1128px) {
  .ft-tgg {
    left: auto;
    right: 13px;
  }
}
