/* green rgb(0, 132, 137) */

.Filters {
  padding: 1rem;
  border-bottom: 1px solid #dedede;
}

.Filters-Category-Button {
  margin-right: 0.5rem;
  display: inline-block;
  background-color: #fff;
  outline: none;
  border: 1px solid #dedede;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.Filters .Filters-Dropdown {
  padding: 1rem 0.25rem;
  max-width: 100vw;
  /* max-width: 360px; */
  /* padding: 0.5rem 1.5rem; */
}

.Filters-Dropdown small {
  display: block;
  margin: 0.5rem 0;
}

.Filters-Button:hover {
  background-color: #dedede;
}

.Filters-Round-Button {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgb(0, 132, 137);
  padding: 0;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  color: rgb(0, 132, 137);
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
  cursor: pointer;
}

.Filters-Round-Button:focus {
  outline: none;
}

.Filters-Round-Button:active {
  box-shadow: 0 0 6px rgb(0, 132, 137);
}

.Filters-Round-Button:disabled {
  border: 1px solid rgb(165, 209, 211);
  color: rgb(165, 209, 211);
  cursor: default;
}

.Dropdown-Menu {
  border-radius: 2px;
  z-index: 999;
  position: absolute;
  margin: -2px 0 0 0;
  padding: 0;
  list-style-type: none;
  background: #fff;
  border: 1px solid #aaa;
}
