.Input-Container {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding-right: 2.5em;
  color: #333;
  font-weight: 400;
}

.Input-Icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
  left: unset;
  color: #aaa;
  font-size: 1em;
}

.Icon-left i {
  left: 0.5em;
  right: unset;
}

textarea {
  resize: vertical;
}
