.Search {
  /* padding: 0 12px; */
  padding-left: 12px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.Bar {
  height: 100%;
  width: 400px;
  padding: 14px 16px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0;
  background-color: #fff;
}

.Bar:focus,
.Bar:active {
  outline: none;
}
