.Listings {
  padding-top: 1rem;
  display: flex;
}

.Listings-Results {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  flex: 1 0 50%;
}

/* @media (max-width: 375px) {
  .Listings-Results {
    justify-content: unset;
  }
}

@media (min-width: 1400px) {
  .Listings-Results {
    justify-content: unset;
  }
} */
