.HomeListing-nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #767676;
}

.HomeListing-body {
  padding: 0 5%;
}

.HomeListing-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.Review-List {
  padding: 2rem 0;
}

.HomeListing-nav a:link,
.HomeListing-nav a:visited,
.HomeListing-nav a:hover,
.HomeListing-nav a:active {
  margin-right: 1rem;
  color: #227b7f;
  font-weight: 500;
  text-decoration: none;
}

.HomeListing-left {
  flex: 0 1 100%;
}
.HomeListing-right {
  width: 100%;
}

@media (min-width: 1024px) {
  .HomeListing-left {
    flex: 0 1 60%;
  }
  .HomeListing-right {
    flex: 1 0 30%;
  }
}
